@model IEnumerable<Inventory.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers List</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>MemberShipType</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
           <tr>
               <td>
                   @Html.ActionLink(customer.Name, "Detail", "Customers", new { id = customer.Id }, null)
                   
               </td>
               <td>
                   @customer.membershipType.Name
               </td>
           </tr> 
        }
    </tbody>
</table>

